*{
    font-family: 'Itim', cursive;
}
#menu-desplegable{
    background-color: #999;
    
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: black
}
.navbar-default .navbar-toggle{
    border-color: black;
}
#contenido{
    background-color:#999;
    color: black;
    padding: 20px;
    margin: 10px 0px 10px 0px;
}